<footer xmlns:th="http://www.thymeleaf.org" id="top-footer">
	
<!-- 	<p class="alert alert-info" id="content-footer" role="alert" style="border: none;text-align: center;background-color: #f7fafb;padding: 0.20rem 1.25rem;">
		&copy; Copyright <strong>FA SOFTWARE</strong>. All Rights Reserved
	</p> -->

	<!-- <script
		th:src="@{/webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.js}"></script> -->
</footer>