<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: head"></th:block>
<style type="text/css">
label {
	font-weight: bold;
}

.form-check-input {
	position: relative;
	margin-left: 0rem;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		
		$("#add_new_customer").submit(function(evt) {
	        evt.preventDefault();

	        // PREPARE FORM DATA
	        let formData = {
	            firstname : $("#firstname").val(),
	            lastname :  $("#lastname").val(),
	            address: $("#address").val(),
	            age: $("#age").val()
	        }

	        $.ajax({
	            url: '/api/customer/create',
	            type: 'POST',
	            contentType : "application/json",
	            data: JSON.stringify(formData),
	            dataType : 'json',
	            async: false,
	            cache: false,
	            success: function (response) {
	                let customer = response.customers[0];
	                let customerString = "{ name: " + customer.firstname + " " + customer.lastname + 
	                                            ", address: " + customer.address + 
	                                            ", age: " + customer.age  + " }"
	                let successAlert = '<div class="alert alert-success alert-dismissible">' + 
	                                        '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
	                                        '<strong>' + response.message + '</strong> Customer\'s Info = ' + customerString;
	                                    '</div>'
	                $("#response").append(successAlert);
	                $("#response").css({"display": "block"});

	                resetUploadForm();
	            },
	            error: function (response) {
	                let errorAlert = '<div class="alert alert-danger alert-dismissible">' + 
	                                    '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
	                                    '<strong>' + response.message + '</strong>' + ' ,Error: ' + message.error + 
	                                '</div>'
	                $("#response").append(errorAlert);
	                $("#response").css({"display": "block"});

	                resetUploadForm();
	            }
	        });
	    });

	    function resetUploadForm(){
	        $("#firstname").val("");
	        $("#lastname").val("");
	        $("#address").val("");
	        $("#age").val("");
	    }

		
		
		
		var modId= $('#moduleListId').val();
		console.log("onload:",modId);
		if(modId!=null && modId!="" && modId!=undefined){
			console.log("onload:",modId);
			getRoleByModuleId(modId);
			getStatusByModuleId(modId);
		}

		$('#moduleListId').on('change', function() {
			//alert(this.value);
			//$("#statusVal").val(this.value);
			getRoleByModuleId(this.value);
			getStatusByModuleId(this.value);
		});
		
	function getRoleByModuleId(moduleId){
		$('#roleListId').val(null).trigger('change');
		$('#roleListId').select2('data', null);
		$('#roleListId')
	    .find('option')
	    .remove()
	    .end()
	    .append('<option value="">Select Role</option>')
	    .val('');
		console.log("getRoleByModuleId:",moduleId);
			 $.ajax({
		            type : "GET",
		            url : "/wf/auth-role/getAuthRolesByModuleId/"+moduleId,
		            success: function(response){
		            	console.log("response",response);
		            	$.each(response, function (i, ob) {
		            		  $('#roleListId').append($('<option></option>').val(ob.id).html(ob.moduleRoleName));
		            		});
		            	
		            	var roleId=$("#roleId").val();
		            	$("#roleListId").val(roleId);
		            },
		            error : function(e) {
		              alert("ERROR: ", e);
		              console.log("ERROR: ", e);
		            }
		        });
		}
	
	function getStatusByModuleId(moduleId){
		$('#statusListId').val(null).trigger('change');
		$('#statusListId').select2('data', null);
		$('#statusListId')
	    .find('option')
	    .remove()
	    .end()
	    .append('<option value="">Select Role</option>')
	    .val('');
		console.log("getStatusByModuleId:",moduleId);
			 $.ajax({
		            type : "GET",
		            url : "/wf/status/getStatusByModuleId/"+moduleId,
		            success: function(response){
		            	console.log("response",response);
		            	$.each(response, function (i, ob) {
		            		  $('#statusListId').append($('<option></option>').val(ob.id).html(ob.moduleStatusName));
		            		});
		            	
		            	var roleId=$("#statusId").val();
		            	$("#statusListId").val(roleId);
		            },
		            error : function(e) {
		              alert("ERROR: ", e);
		              console.log("ERROR: ", e);
		            }
		        });
		}
		
		
	});
</script>
</head>
<body>
	<div class="container container-top">
		<nav>
			<th:block th:replace="fragments/nav :: nav"></th:block>
		</nav>
		<h5 th:text="${title}" class="head-title"></h5>
		<h6>
			<a th:each="link : ${links}" th:href="@{${link}}" class="back-link"><i
				class="fa fa-backward" aria-hidden="true"></i> Back</a>
		</h6>
		<form th:object="${formObject}" method="post"
			th:action="@{/ui-action-link/save}" cssClass="form">
			<input type="hidden" th:field="*{id}" />
			<div class="row form-group">
				<div class="col-3">
					<label>Module</label> <select th:field="*{moduleId}"
						id="moduleListId" class="form-control">
						<option value="">Select</option>
						<option th:each="module : ${modules}" th:value="${module.id}"
							th:utext="${module.name}" />
					</select>
				</div>
				<div class="col-3">
					<label>Button/Link Code</label> <input th:field="*{code}"
						type="text" class="form-control" />
				</div>
				<div class="col-3">
					<label>Display Name</label> <input th:field="*{displayName}"
						type="text" class="form-control" />
				</div>
				<div class="col-3">
					<label>UI Page</label> <select th:field="*{pageCode}"
						class="form-control select2">
						<option value="">Select</option>
						<option th:each="obj : ${pages}" th:value="${obj.code}"
							th:utext="${obj.code}" />
					</select>

				</div>
			</div>
			<div class="row form-group">
				<div class="col-3">
					<label>Action</label> <select th:field="*{actionId}"
						class="form-control select2">
						<option value="">Select</option>
						<option th:each="task : ${actionKeyValue}" th:value="${task.id}"
							th:utext="${task.displayName}" />
					</select>
				</div>
				<div class="col-3">
					<label>Authority Role</label> 
					<!-- <select th:field="*{roleId}"
						class="form-control select2" id="roleListId">
						<option value="">Select</option>
						<option th:each="task : ${authRoles}" th:value="${task.id}"
							th:utext="${task.moduleRoleName}" /> 
					</select> -->
					<input th:field="*{roleId}" id="roleId"
						type="hidden" class="form-control" />
					<select th:field="*{roleId}"
						class="form-control select2" id="roleListId">
						<option value="">Select</option>						
					</select>
				</div>
				<div class="col-3">
					<label>Status</label> 
					<input th:field="*{status}" id="statusId"
						type="hidden" class="form-control" />
					<select th:field="*{status}"
						class="form-control select2" id="statusListId">
						<option value="">Select</option>
						<!-- <option th:each="module : ${statusList}" th:value="${module.id}"
							th:utext="${module.moduleStatusName}" /> -->
					</select>
				</div>
				<div class="col-3">
					<label>Type</label> <select th:field="*{type}" class="form-control">
						<option value="">Select</option>
						<option value="Action">Action</option>
						<option value="Link">Navigation Link</option>
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-3">
					<label>CSS Class</label>
					<textarea rows="2" th:field="*{attribute}" class="form-control">
                  
                  </textarea>
				</div>
				<div class="col-3">
					<label>Order</label> <input th:field="*{orderNo}" type="number"
						class="form-control" />
				</div>
				<div class="col-3">
					<label>Is Enabled?</label>
					<div class="form-check">
						<input class="form-check-input" type="radio"
							th:field="*{isEnable}" th:value="true"> Yes <input
							class="form-check-input" type="radio" th:field="*{isEnable}"
							th:value="false"> No
					</div>
				</div>
				<div class="col-3">
					<label>Active</label>
					<div class="form-check">
						<input class="form-check-input" type="radio"
							th:field="*{isActive}" th:value="true"> Yes <input
							class="form-check-input" type="radio" th:field="*{isActive}"
							th:value="false"> No
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success" style="float: right">Save</button>
		</form>
		<footer>
			<th:block th:include="fragments/footer :: footer"></th:block>
		</footer>
	</div>
</body>
</html>